* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.header {
    height: 800px;
    padding: 40px 0 60px 0;
    background: url('../assets/images/Rectangle\ 1.png') center center/cover; /*Так нельзя*/
    display: block;
}

.container {

    margin: 0px auto; /*Если знаяение не пишется, то px не ставятся*/
}

.logo .logo_img {
    margin: 0 auto;
    display: block;
}

.logo .logo_text {

     
    font-style: normal;
    font-weight: 500;
    font-size: 15px;


    display: block;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 9px; /*Пиксель минимальное значение, которое есть у монитора, такое не делится*/

    color: #FFFFFF;
}

.title_1 {
    margin: 53px auto 20px;
    display: block;

    
    font-style: normal;
    font-weight: 900;
    font-size: 41px;

    /* identical to box height, or 100% */

    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #F9BF3B;
}

.simple .title_big {


    
    font-style: normal;
    font-weight: 900;
    font-size: 80px;

    /* or 100% */


    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.title_2 {
    margin: 20px auto 22px;
    display: block;


    
    font-style: normal;
    font-weight: 900;
    font-size: 41px;

    /* identical to box height, or 100% */

    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #F9BF3B;
}

.promo_text {

    padding: 0 13px;
    margin-bottom: 72px;

    
    font-style: normal;
    font-weight: 300;
    font-size: 21px;

    /* or 133% */


    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.promo_text span {
    font-weight: bold;
    color: #F9BF3B;
    text-transform: uppercase;
}

.promo_btn {
    /* Кнопка */

    display: block;
    margin: 0 auto;
    outline: none;
    padding: 24px 15px;


    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);


    font-family: Roboto+Condensed;
    font-size: 21px;

    /* identical to box height, or 114% */


    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.more_inf {


    
    font-style: normal;
    font-weight: 200;
    font-size: 15px;

    /* identical to box height, or 160% */

    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-top: 70px;
}

.more_img {
    margin-top: 4px;
}

.middle .container {
    display: block;

    padding: 88px 0 75px 0;


    background: #EFEFEF;
}

.middle .title_m1 {

    
    font-style: normal;
    font-weight: normal;
    font-size: 30px;


    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #252525;
}

.middle_divider {

    background-color: #F9BF3B;
    margin: 0 auto;
    margin-top: 20px;

    width: 220px;
    height: 7px;
}

.middle .title_m2 {

    margin-top: 19.5px;

    
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    align-items: center;
    text-align: center;

    color: #4A4A4A;
}

.middle .middle_wraper {
    margin: 45px auto 0;
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
}

.middle .middle_wraper .middle_item {
    width: 342px;
    text-align: center;

}

.middle .middle_wraper .middle_descr {
    
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    text-align: top; /* text-align выравнивает только по гаризонтали */
    margin-top: 26px;

    color: #4A4A4A;
}

.middle .container_w {
    /* margin-top: 122px; */
    position: relative;

    display: block;

}

.woman {

    position: absolute;
    z-index: -1;
    left: 150px;
    top: 47px;
}

.middle .container_w .optimization {


    
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;

    color: #299CBD;
    padding: 108px 0 25px 781px;
}

.middle .container_w .text {


    
    font-style: normal;
    font-weight: 300;
    font-size: 17px;

    color: #4A4A4A;
    margin-top: 25px;
    margin-left: 781px;
    margin-bottom: 74px;
}

.middle .container_w .text .bold_txt {
    font-weight: bold;
}

.bottom_abilities {
    background: url('../assets/images/Rectangle\ 1\ copy.png') center center/ cover;
    padding-top: 86px;
    padding-bottom: 70px;
}

.bottom_abilities .title_b {
    
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;

    color: #EFEFEF;

}

.bottom_abilities .bottom_wraper {
    display: flex;
    padding-top: 68px;
    justify-content: space-between;
    max-width: 920px;
    margin: 0 auto;
    align-items: top;
}

.bottom_abilities .bottom_wraper .item_text {
    
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    color: #EFEFEF;
    max-width: 234px;
}

.bottom_item {
    text-align: center;

}

.bottom_round {
    width: 118px;
    height: 118px;

    background: #B4E2FF;

    margin: 0 auto;

    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item_text {
    margin-top: 25px;
}

.gift .container {
    background: #EFEFEF;
    padding: 88px 380px;
}

.gift .txt {
    text-align: center;
    
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #252525;
    margin-top: 45px;
    margin-bottom: 50px;
}

.gift button {
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    padding: 24px 15px;

    margin: 0 auto;
    display: block;
    font-family: Roboto+Condensed;
    font-size: 21px;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    text-transform: uppercase;

}

.gift_img {
    margin: 0 auto;
    display: block;
}

.firs_vebinar .container {
    padding: 80px 0 52px 0;
}

.firs_vebinar .laptop {
    margin: 0 auto;
    display: block;
}

.first_veb_txt {
    text-align: center;
    
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #252525;
    margin-top: 36px;
    text-transform: uppercase;
}

.firs_vebinar .date {
    
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;

    color: #299CBD;
}

.rush {
    
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    text-align: center;

    color: #4A4A4A;
    margin-top: 24px;
}

footer {
    background: #1A1A1A;

    padding: 57px 0 69px 0;
    text-align: center;
    color: #888888;
}

footer a {
    color: #888888;
}